<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mensaje" value="Hola desde el archivo de configuracion" />
  </appSettings>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source=NTVDSD4CTQ\SQLEXPRESS;Initial Catalog=prueba;Integrated Security=True;User ID=sa;Password=Pepito1234"/>
  </connectionStrings>
</configuration>